* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 25%;
    padding: 10px 10px;
}

header nav {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

header img {
    width: 200px;
    height: auto;
    margin-left: 20%;
    margin-right: 10%;
}

header nav a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 25px 10px 25px;
}

header nav a:hover {
    background-color: #F3F1E9;
}









footer {
    background-color: var(--primary-color);
    color: darkblue;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0 auto;
}

.social-links {
    display: flex;
    gap: 25px;
}

footer .social-links a {
    text-decoration: none;
}

footer .social-links img {
    width: 30px;
    height: auto;
}