:root {
    --primary-color: #F2DA88;
    --secondary-color: #FDF3E0;
    --accent-1-color: #C6D0D5;
    --accent-2-color: #4B5354;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 200px;
    height: auto;
    margin-left: 20%;
    margin-right: 10%;
}

header nav a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 25px 10px 25px;
}

header nav a:hover {
    background-color: #F3F1E9;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50px;
    right: 20px;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.357);
    max-width: 100%;
}

.hero article {
    position: absolute;
    bottom: 50%;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hero article img {
    float: right;
    margin-left: 15px;
    width: 185px;
    height: auto;
}

section {
    padding: 20px;
    text-align: center;
}

section h2 {
    font-family: 'Anton', sans-serif;
    color: var(--primary-color);
}

.images .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.images .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images .image-item img {
    height: 150px;
    width: auto;
}

.images .image-item figcaption {
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--accent-1-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
}

footer .social-links a {
    text-decoration: none;
}

footer .social-links img {
    width: 20px;
    margin: 0 10px;
}